h1 {

}

@import "http://module/common/form.css";

h2 {

}


.content .button{
    display: inline-block;
    color:#fff;
    padding-left: 18px;
    background: url('module/common/images/btn_all.gif') no-repeat 0px ;
    padding-right:0;
}

h3 {

}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url('lib/fancybox/images/blank.gif');
    z-index: 10002;
    display: none;
}



.login_inputWrap{
    background: url('/img/text.jpg') no-repeat 0px 0px;
    display: inline-block;
}

.test {
    background-image: url('/img/text.jpg');
}

.test-absolute-path {
    background: url('http://test.com/test.jpg');

}



.test {
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7');
}



@font-face
{
    font-family: myFirstFont;
    src: url('module/module_a/Sansation_Light.ttf'),
    url('module/module_a/Sansation_Light.eot'); /* IE9+ */
}